.NavbarItems{
    background:rgba(27, 112, 84, 0.8);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo{
    color: white;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.fa-react{
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;

}

.nav-links:hover{
    background-color: aquamarine;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars{
    color: white;
}

.nav-links-mobile{
    display:none;
}

.menu-icon{
    display:none;
}

@media screen and (max-width: 960px){
    .NavbarItems{
        position: relative;
    }

    /*position: absolute
    Das Element wird aus dem normalen Fluss gelöst und unabhängig verschoben. Dabei können andere Elemente verdeckt werden.
    Diese verhalten sich so, als ob das Element nicht vorhanden wäre und lassen keinen Platz für das Element.*/
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 170px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;

    }

    /*left: Bei absolut positionierten Elementen (jene mit position: absolute oder position: fixed)
    wird der Abstand zwischen der linken, äußeren Rand des Elements und dem linken Rand des
    umschließenden Blocks definiert.*/

    /*z-index legt die z-Reihenfolge eines positionierten Elements und seiner Abkömmlinge oder Flex-Elemente fest.*/

    /*transition: Übergangsgeschwindigkeit*/

    /*Die opacity CSS Eigenschaft gibt die Transparenz eines Elements an, d. h. den Grad,
     zu welchem der Hintergrund des Elements überlagert wird.*/

    .nav-menu.active{
        background: lightgrey;
        height: 170px;
        left: 0;
        opacity: 1;
        transition: all 0.7s ease;
        z-index: 1;
    }

    .nav-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover{
        background-color: purple;
        border-radius: 0;
    }

    .navbar-logo{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%,50%);
    }

    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%,60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times{
        color: white;
        font-size: 2rem;
    }

    .nav-links-mobile{
        display:block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: cadetblue;
        text-decoration:none;
        color: white;
        font-size: 1.5rem;
    }

    .nav-links-mobile:hover{
        background: white;
        color: purple;
        transition: 250ms;
    }

    Button{
        display: none;
    }
}
