.btn{
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn:hover{
    padding: 8px 20px;
    transition: all 0.5s ease-out;
    background: white;
}

.btn2{
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn2:hover{
    padding: 8px 20px;
    transition: all 0.5s ease-out;
    background: brown;
}



