
.evalbackground {
    background-color: white;
    padding-bottom: 20%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3%;
    font-family: "Calibri Light";



}

.evaltextArea{

    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100%;

}

.left{
    float: left;
    width: 50%;
    margin-bottom: 100%;

}
.right{
    float: right;
    width: 50%;

}

.space{
    margin: 10%;
}


.margin{
    margin-left: 10%;
}


.button{
    margin-bottom: 1%;border-style: solid;
    border-color: grey;
    border-radius: 5px;
    font-family: Algerian;


}

.allDataPoints{
    max-width: 100%;
    margin-bottom: 45%;
    grid-template-rows: auto;
}
.four{
    margin-bottom: 35%;
}


.selectObj{

    height: 10%;
    width: 10%;
    margin-bottom: 5%;


}

.line{

    height: 1px;
    /* Set the hr color */
    background-color: black; /* Modern Browsers */
    margin-bottom: 50px;
}

.button2{

    margin-bottom: 1%;border-style: solid;
    border-color: grey;
    border-radius: 5px;
     margin-right: 30px;
     margin-top: 15px;
     pointer-events: all;
     height: 45px;
     width: 170px;

 }
.button2:hover{
    background-color: lightgrey;
}

.button2:focus{
    background-color: grey;
}


.button3{

    margin-bottom: 1%;border-style: solid;
    border-radius: 5px;
    margin-right: 30px;
    margin-top: 15px;
    pointer-events: all;
    border-color: lightgrey;
    background-color: rgba(0, 200, 84, 0.6);
    width: 300px;
    height: 70px;
    font-size: 15pt;
}
.button3:hover{
    background-color: lightgrey;
}

.grey{

    width: 300px;
    height: 40px;
    font-size: 12pt;
    margin-top: 30px;
    margin-bottom: 19px;
}


