.background {
    background-color: white;
    padding-bottom: 20%;
    max-width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3%;
    font-family: "Calibri Light";
    overflow-y: hidden;


}

.textArea{


    margin-left: 10%;
    margin-right: 10%;

}

.textArea2{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.font2{
    float: right;
    font-size: 14pt;
    width: 50%;
    margin-top: 5%;
    text-align: justify;
}
.font3{
    float: left;
    font-size: 14pt;
    width: 100%;
    margin-top: 5%;
    text-align: justify;
}

.green{
    color: green;
}

.blue{
    color: royalblue;
}

.shadow{
    background-color: rgba(192, 189, 185, 0.8);
    padding: 5%;
    box-shadow: 10px 20px 15px rgb(232,219,200);
    border-radius: 20px;
    max-width: 30%;
}

.image1{
    float: left;
    border: solid 1px black;
    margin-top: 5%;
    width: 45%;
}


.image2{
    float: left;
    margin-top: 5%;
    width: 100%;
}

