

.map {
    margin-top: 17%;
    margin-bottom: 50%;
    border-color: red;
    border-width: 10px;
}



.map2 {
    margin-left: 8%;
    margin-right: 8%;
    max-width: 64%;
    max-height: 100%;
}

.font1{
    font-size: 16pt;
    text-align: justify;
}
.image{
    height: 30px;
    width: 30px;
    pointer-events: all;
}

.inLine{
    float:left;
    display: inline-block;
    margin-bottom: 40%;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2%;
    margin-top: 2%;
  }
.icons{


}

.deletions{
    margin-right: 5px;

}

.title-icons{
    margin-left: 10%;
}

.button{
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 1px;
    border: black;
    pointer-events: all;
    height: 45px;
    width: 90%;

}
.button:hover{
    background-color: grey;
}

.button:focus{
    background-color: grey;
}


.red{
    background-color: rgba(171, 0, 0, 0.8);
    color: white;
    font-style: oblique;
    border: white;
}

.iconsRef{
    clear: both;
    position: relative;
    margin-left: 10%;
    margin-top: 80%;

}